.Container
{
    width:100%;
    height:100vh;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    
}

.Container.image
{
    padding:10px;

}

img{
    border-radius: 15px;
    margin:auto;
    width:700px;
    box-shadow: 0 8px 2px 2px rgba(0,0,0,0.6);
}

.text{
     width:100%;
     height:100vh;
     display:flex;
     position:fixed;
     left:0;
     top:0;
     justify-content: space-between;
     align-items: center;
     
}

.text1,.text2
{
  color:white;
  -webkit-text-stroke-color:black;
  -webkit-text-stroke-width:2px;
  font-size:10rem;
  padding:0 10px;
  animation: intro 3s ;
  text-shadow: 0 5px 2px rgba(0,0,0,0.6);
}

@keyframes intro{
    
    from{opacity: 0;}
    to{opacity: 1;}
}

@media (max-width:850px)
{
    img 
    {
        width:70%;
    }
    .text1,.text2
    {
        font-size: 6rem;
    }
}

@media (max-width:400px)
{
    .text{
        padding:20px;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }
}

